.wrapper {
    background-color: red;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.ava {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.header {
    text-align: center;
}