.nav {
    grid-column: 1 / 2;
    background-color: rgb(0, 29, 155);
    min-height: 100%;
    color: #fff;
}

.nav ul {
    list-style: none;
}

/* .nav li {
} */

.item {
    text-decoration: none;
    color: #fff;
}

/* .active {
    color: gold;
} */
