.app-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 100px 1fr;
    gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    grid-column: 1 / -1;
    background-color: rgb(58, 238, 178);
}
.header__logo {
    height: 100px;
    pointer-events: none;
}

.navigation {
    grid-column: 1 / 2;
    background-color: rgb(58, 238, 178);
}

.navigation__ul {
    list-style: none;
}

.main {
    grid-column: 2 / -1;
}

.main__img {
    width: 100%;
    height: 150px;
}

.main__content {
    margin: 16px;
}

.main__author {
    display: flex;
    gap: 16px;
}

.author__avatar {
    width: 150px;
}
